<strong><%= user.realname %></strong> invited you to event <a href='http://rhinobird.workslan/platform/calendar/events/<%= event.id %>/1'><%= event.title %></a>.

<table>
  <tbody>
    <tr>
      <td>Time:</td>
      <td><%= event.time_summary %></td>
    </tr>
    <tr>
      <td>Participants:</td>
      <td><%= event.participants_summary %></td>
    </tr>
  </tbody>
</table>