<style>
	table tr td {
		padding: 4px 8px;
	}
	table tr td.title {
		font-weight: 600;
		vertical-align: top;
	}
</style>
<div style="max-width: 600px; margin: 0 auto;">
  <h2 style="color: rgb(42,178,123);">Hi <%= user.realname %>:</h2>
  <div style="font-size: 1.2em">
	Your event
	  <a style="color: rgb(255, 64, 129); font-weight: 600;"
					 href='http://<%= hostname%>/platform/calendar/events/<%= event.id %>/<%= event.repeated_number %>'>
		<%= event.title %>
	  </a>
	  will begin within 30 minutes.
  </div>
  <br/>
  <table>
	  <tbody>
	  <tr>
		<td class="title">Time</td>
		<td><%= event.time_summary %></td>
	  </tr>
	  <tr>
		<td class="title">Details</td>
		<td><%= event.description %></td>
	  </tr>
	  <tr>
		<td class="title">Participants</td>
		<td><%= event.participants_summary %></td>
	  </tr>
	  </tbody>
  </table>

  <hr>
  <p style="text-align: center;">Made by ATE-Shanghai, © Works Applications Co.,Ltd.</p>
</div>
